<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ "PRACTICAS_ACADEMICAS.titulo" | translate }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <ngx-solicitante-practica
        (docentes)="loadDocentes($event)"
        [docentesSolicitud]="[]"
        [process]="true"
      >
      </ngx-solicitante-practica>

      <ngx-dinamicform
        [normalform]="FormPracticasAcademicas"
        [modeloData]="InfoPracticasAcademicas"
        (result)="enviarSolicitud($event)"
        [clean]="limpiar"
        (interlaced)="getSeleccion($event)"
      >
      </ngx-dinamicform>

      <ngx-dinamicform
        [normalform]="FormSoporteDocumentales"
        [modeloData]="InfoDocumentos"
        [clean]="limpiar"
        (result)="enviarSolicitud($event)"
        *ngIf="llenarDocumentos"
      >
      </ngx-dinamicform>
      <div *ngIf="['news', 'process'].includes(process)">
        <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
          <label><b>{{
            "PRACTICAS_ACADEMICAS.fecha_radicacion" | translate
          }}:  </b></label>
          <span class="form-control"> {{ fechaRadicado }} </span>
        </div>
        <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
          <label>{{ "PRACTICAS_ACADEMICAS.estado_actual" | translate }}:  </label>
          <span class="form-control"> {{ estado }} </span>
        </div>
      </div>
      <br />
      <mat-accordion *ngIf="['news', 'process'].includes(process)">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "PRACTICAS_ACADEMICAS.estados" | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ "PRACTICAS_ACADEMICAS.ver_listado_estados" | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions class="flex justify-center">
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="goback()"
        >
          {{ "GLOBAL.regresar" | translate }}
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
