<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "PRACTICAS_ACADEMICAS.solicitante" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br />
    <div class="mat-elevation-z8">
      <!-- TABLA -->
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Columna nombre -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "PRACTICAS_ACADEMICAS.nombre" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Nombre }}
          </mat-cell>
        </ng-container>

        <!-- columna TipoVicunlacionId -->
        <ng-container matColumnDef="TipoVinculacionId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "PRACTICAS_ACADEMICAS.tipo_vinculacion" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.TipoVinculacionId.Nombre }}
          </mat-cell>
        </ng-container>
        <!-- Correo Column -->
        <ng-container matColumnDef="Correo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "GLOBAL.correo" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Correo }}
          </mat-cell>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="Telefono">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "SOLICITUDES.telefono" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Telefono }}
          </mat-cell>
        </ng-container>
        <!-- Columna de Acciones (Agregar/Eliminar) -->
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>
            <button
              mat-icon-button
              color="accent"
              (click)="onCreateColaborador($event)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <!-- Botón Eliminar -->
            <button
              mat-icon-button
              color="accent"
              (click)="onDeleteColaborador(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<ngx-dinamicform
  [normalform]="docenteSolicitante"
  [modeloData]="docenteColaborador"
  (resultAux)="buscarColaborador($event)"
  (result)="agregarColaborador($event)"
  *ngIf="nuevoColaborador && nuevaSolicitud"
>
</ngx-dinamicform>
