<mat-spinner *ngIf="loading" class="spinner mt-10 m-auto" diameter="50"></mat-spinner>
<div class="container mt-10" *ngIf="!loading">
  <mat-card>
    <mat-card-header>
      <h1 class="m-auto text-lg font-bold">
        {{ "practicas_academicas.titulo" | translate }}
      </h1>
    </mat-card-header>

    <mat-card-content>
      <ngx-solicitante-practica
        (loading)="changeLoading($event)"
        [docentesSolicitud]="InfoDocentes"
        [process]="false"
      >
      </ngx-solicitante-practica>
      <ngx-dinamicform
        [normalform]="FormPracticasAcademicas"
        [modeloData]="InfoPracticasAcademicas"
      ></ngx-dinamicform>

      <div
        class="border-2 border-primary-700 shadow-sm rounded-lg bg-primary-900 m-3"
      >
        <div
          class="py-2 px-2 bg-gray-50 rounded-tl-md rounded-tr-md flex items-center"
        >
          <div class="flex-auto px-2 py-1 mr-1 rounded-md text-base">
            Documentos
          </div>
          
        </div>
        <div class="px-2 py-4 bg-white flex flex-wrap">
          <ngx-download-file-nuxeo
            *ngFor="let file of files"
            [file]="file"
          ></ngx-download-file-nuxeo>
        </div>
      </div>

      <div class="row col-12" *ngIf="['news', 'process'].includes(process)">
        <div class="row col-6">
          <div class="col-6">
            <label>{{
              "practicas_academicas.fecha_radicacion" | translate
            }}</label>
          </div>
          <div class="col-6">
            <span class="form-control"> {{ fechaRadicado }} </span>
          </div>
        </div>
        <div class="row col-6">
          <div class="col-6">
            <label>{{
              "practicas_academicas.estado_actual" | translate
            }}</label>
          </div>
          <div class="col-6">
            <span class="form-control"> {{ estado }} </span>
          </div>
        </div>
      </div>
      <br />
      <mat-accordion *ngIf="['news', 'process'].includes(process)">
        <mat-expansion-panel>
          <mat-expansion-panel-header
            style="background: gainsboro; border: 1px solid var(--primary)"
          >
            <mat-panel-title>
              {{ "practicas_academicas.estados" | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ "practicas_academicas.ver_listado_estados" | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br />

          <mat-table
            [dataSource]="estadosSolicitudesDataSource"
            class="mat-elevation-z8"
          >
            <!-- Estado Column -->
            <ng-container matColumnDef="EstadoTipoSolicitudId">
              <mat-header-cell *matHeaderCellDef>{{
                "practicas_academicas.estado_solicitud" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.EstadoTipoSolicitudId.EstadoId.Nombre }}
              </mat-cell>
            </ng-container>

            <!-- Fecha Column -->
            <ng-container matColumnDef="FechaCreacion">
              <mat-header-cell *matHeaderCellDef>{{
                "practicas_academicas.fecha" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.FechaCreacion | date : "dd/MM/yyyy" }}
              </mat-cell>
            </ng-container>

            <!-- Comentario Column -->
            <ng-container matColumnDef="Comentario">
              <mat-header-cell *matHeaderCellDef>{{
                "practicas_academicas.comentario" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.Comentario }}
              </mat-cell>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="Acciones">
              <mat-header-cell *matHeaderCellDef>{{
                "GLOBAL.acciones" | translate
              }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="verEstado(element)"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </mat-expansion-panel>
      </mat-accordion>

      <div
        class="send-invitation flex justify-center"
        *ngIf="['invitation'].includes(process)"
      >
        <button
          class="bg-primary-900 text-white font-medium text-sm py-2.5 px-6 rounded flex items-center gap-2 hover:bg-primary-700 mb-1"
          (click)="enviarInvitacion()"
        >
          {{ "practicas_academicas.enviar_invitacion" | translate }}
        </button>
      </div>

      <div *ngIf="estado != 'Ejecutada'">
        <ngx-dinamicform
          *ngIsGranted="[
            'COORDINADOR',
            'COORDINADOR_PREGADO',
            'COORDINADOR_POSGRADO'
          ]"
          [normalform]="formRespuestaSolicitud"
          [modeloData]="InfoPersona"
          (result)="enviarSolicitud($event)"
        >
        </ngx-dinamicform>
      </div>

      <div
        *ngIf="estado == 'Acta aprobada' && !['invitation'].includes(process)"
      >
        <ngx-dinamicform
          *ngIsGranted="['DOCENTE']"
          [normalform]="formDocumentosAdicionalesLegalizacion"
          [modeloData]="Legalizacion"
          (result)="enviarLegalizacion($event)"
        >
        </ngx-dinamicform>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-center">
      <button
        class="bg-primary-900 p-2 rounded text-white hover:bg-primary"
        type="button"
        (click)="goback()"
      >
        {{ "GLOBAL.regresar" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
