<div class="bg-white m-2 rounded-xl">
  <!-- Spinner de carga -->
  <div *ngIf="loading" class="flex justify-center items-center">
    <mat-spinner></mat-spinner>
    <!-- Puedes reemplazar esto con tu spinner personalizado -->
  </div>

  <div
    *ngIf="!loading && error"
    class="border-2 rounded-md p-2 border-dotted w-full h-full flex flex-col items-center hover:bg-primary-0 hover:cursor-pointer focus:bg-primary-3"
  >
    <mat-icon class="text-primary-900"> warning</mat-icon>
    <p
      class="text-gray-800 hover:text-black focus:text-black text-sm font-light truncate m-0"
    >
      {{ informacionArchivo ? informacionArchivo.Nombre : "practicas_academicas.sin_nombre" | translate }}
    </p>
    <div class="flex space-x-3">
      <button
        class="p-1 m-0 hover:bg-primary-900 hover:text-white rounded hover:cursor-pointer"
        (click)="cargarArchivo()"
      >
        <mat-icon>sync</mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="!loading && informacionArchivo"
    class="border-2 rounded-md p-2 border-dotted w-full h-full flex flex-col items-center hover:bg-primary-0 hover:cursor-pointer focus:bg-primary-3"
  >
    <mat-icon class="text-primary-900"> insert_drive_file</mat-icon>
    <p
      class="text-gray-800 hover:text-black focus:text-black text-sm font-light truncate m-0"
    >
      {{ informacionArchivo ? informacionArchivo.Nombre : "practicas_academicas.sin_nombre" | translate  }}
    </p>
    <div class="flex space-x-3">
      <button
        class="p-1 m-0 hover:bg-primary-900 hover:text-white rounded hover:cursor-pointer"
        (click)="verArchivo()"
      >
        <mat-icon>pageview</mat-icon>
      </button>
      <button
        class="p-1 m-0 hover:bg-primary-900 hover:text-white rounded hover:cursor-pointer"
        (click)="descargarArchivo()"
      >
        <mat-icon>cloud_download</mat-icon>
      </button>
    </div>
  </div>
</div>
