<div class="bg-white p-3 rounded-xl w-80">
  <!-- Spinner de carga -->
  <div *ngIf="loading" class="flex justify-center items-center">
    <mat-spinner></mat-spinner> <!-- Puedes reemplazar esto con tu spinner personalizado -->
  </div>

  <div *ngIf="!loading && !informacionArchivo">
    <p>Error al cargar el archivo.</p>
  </div>

  <div *ngIf="!loading && informacionArchivo"
    class="border-2 rounded-md p-8 border-dotted w-full h-full flex flex-col items-center"
  >
    <p class="font-medium mb-1">Documento</p>
    <p class="font-medium text-sm mb-4 text-gray-600">
      {{ informacionArchivo ? informacionArchivo.Nombre : "Sin nombre" }}
    </p>
    <button
      class="bg-primary-900 text-white font-medium text-sm py-2.5 px-6 rounded-3xl flex items-center gap-2 hover:bg-primary-700 mb-1"
      (click)="verArchivo()"
    >
      ver
      <mat-icon>pageview</mat-icon>
    </button>

    <button
      class="bg-primary-900 text-white font-medium text-sm py-2.5 px-6 rounded-3xl flex items-center gap-2 hover:bg-primary-700"
      (click)="descargarArchivo()"
    >
      Descargar
      <mat-icon>cloud_download</mat-icon>
    </button>
  </div>
</div>




